:root {
    --bg-color-1: #1f2224;
    --bg-color-2: #1e3130;
    --bg-color-3: #2e5c70;
    --text-color-1: #ffffff;
    --text-highlight-1: #aad4cd;
    --text-highlight-2: #5da8ab;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--bg-color-3);
    opacity: 0;
    transition: opacity 2s ease;
}

a {
    text-decoration: none;
}

.highlight {
    color: var(--text-highlight-1);
}

.header {
    top: 0;
    /* position: fixed; */
    background: var(--bg-color-1);
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.header_left {
    display: grid;
    grid-gap: 50px;
    margin-left: 30px;
    box-sizing: border-box;
    grid-template-columns: repeat(1, max-content);
}

.header_right {
    display: grid;
    height: 100%;
    align-items: center;
    grid-gap: 25px;
    margin-right: 30px;
    box-sizing: border-box;
    grid-template-columns: repeat(4, max-content);
}

.header_text {
    color: var(--text-color-1);
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
}

.icon {
    color: var(--text-color-1);
    transition: color 0.5s ease;
}

.icon:hover {
    color: var(--text-highlight-2);
}

.title {
    display: flex;
    width: 100%;
    /* height: 100%; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.canvas {
    width: 100%;
    height: 100%;
}

.card {
    overflow: hidden;
    width: 35%;
    /* height: 50%; */
    margin-top: 30px;
    min-width: 500px;
    padding: 10px;
    background: #ffffff;
    border-radius: 15px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    position: relative;
    /* opacity: 0; */
    /* transition: opacity 2s ease; */
}

.instructions-section {
    width: 50%;
    max-width: 400px;
}

.instructions {
    color: white;
    outline-color: black;
    outline-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.tooltip-text {
    visibility: hidden;
    background-color: var(--bg-color-1);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 150%;
    left: 50%;
    width: 200px;
    margin-left: -110px;  /* Half of width plus padding */
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* Use an arrow to make tooltip look like a speech bubble. */
.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--bg-color-1) transparent transparent transparent;
}
